<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tchip.autoprovider"
    android:versionCode="1"
    android:versionName="2016.08.02-20:00" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="22" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <provider
            android:name="com.tchip.autoprovider.AutoProvider"
            android:authorities="com.tchip.provider.AutoProvider"
            android:exported="true" />
    </application>

</manifest>